/* variables */
// colors
$color-link: #208BFF;
$color-tag-bg: #E5F2FF;
$color-white: #FFFFFF;
$color-labels: #B9B9B9;
$color-divider: #E4E4E4;
$color-bg-dark-grey: #F6F8FA;


// text
$font-main: 'Oxygen', sans-serif;

// elements
$border-radius: 4px;
$form-field-height: 45px;
$dropdown-index: 100;
